
<h1>Dashboard</h1>

<div *ngIf="errorMessage" class="alert alert-danger">
{{ errorMessage }}
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Memory
        </h3>
      </div>
      <div class="panel-body clearfix">
        <div *ngFor="let record of history; let ndx=index" style="width: 1%" 
            class="progress progress-vertical">
            <div class="progress-bar" [style.height]="toPercentage((record.mem_total - record.mem_free)/record.mem_total)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          CPU
        </h3>
      </div>
      <div class="panel-body clearfix">
        <div *ngFor="let record of history; let ndx=index" style="width: 1%"
            class="progress progress-vertical">
              <div class="progress-bar progress-bar-danger" [style.height]="toPercentage(record.cpu_sys / 100 )"></div>
              <div class="progress-bar progress-bar-success" [style.height]="toPercentage(record.cpu_user / 100)"></div>
              <div class="progress-bar progress-bar-info" [style.height]="toPercentage(record.cpu_irq / 100)"></div>
              <!--
              <div class="progress-bar progress-bar-warning" [style.height]="toPercentage(record.cpu_idle / 100)"></div>
              -->
        </div>
      </div>
    </div>
  </div>  



  
</div>